.cricket_nav {
    color: red;
}

.carousel-item {
    height: 430px;
}

.mr-3 {
    margin-right: 18px;
}

.card-custom {
    box-shadow: 0 0px 15px gray;
}

/* ui verse readmore (more about cricket) css */

/* From Uiverse.io by csemszepp */
.container-butt {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    background-color: black;
}

.container-butt .btn {
    position: relative;
    top: 0;
    left: 0;
    width: 2900px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-butt .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400px;
    z-index: 1;
    transition: 0.5s;
    /* backdrop-filter: blur(15px); bcz not supported by firefox*/
}

.container-butt .btn:hover a {
    letter-spacing: 3px;
}

.container-butt .btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
}

.container-butt .btn:hover a::before {
    transform: skewX(45deg) translate(200px);
}

.container-butt .btn::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.container-butt .btn:hover::before

/*lightup button*/
    {
    bottom: 0;
    height: 50%;
    width: 80%;
}

.container-butt .btn::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.container-butt .btn:hover::after

/*lightup button*/
    {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

/* nav bar active class css */

.active-class-nav {
    background-color: red;
}

.nav-hov:hover {
    background-color: rgb(250, 59, 59);
}

.hover-card:hover {
    box-shadow: 0px 0px 35px black;
    border-radius: 20px;
}

/* uiverse card css goes here */
/* From Uiverse.io by satyamchaudharydev */
.card-no-change {
    --bg: #f05454;
    --hover-bg: rgb(250, 59, 59);
    --hover-text: #000000;
    max-width: 23ch;
    text-align: center;
    background: var(--bg);
    padding: 1.5em;
    padding-block: 1.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6, .4, 0, 1), transform .15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.card-no-change> :not(span) {
    transition: .3s cubic-bezier(.6, .4, 0, 1);
}

.card-no-change span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all .3s cubic-bezier(.6, .4, 0, 1);
}

.card-no-change:hover span {
    top: 0;
    font-size: 1.2em;
}

.card-no-change:hover {
    background: var(--hover-bg);
}

.card-no-change:hover>div {
    opacity: 0;
}

/* more about players */
/* From Uiverse.io by ShrinilDhorda */
.btn-player {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    width: 90%;
    box-shadow: 0px 0px 30px #9a4242;
    /* -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)); kyun ka kam nhi kr rha tha sahi or neecha wala card ka lia masla kr rha tha//it wasn't working and also creating problem for the card below thats why i removed it */
}

.btn-player:active {
    scale: 0.92;
}

.btn-player:hover {
    background: rgb(218, 22, 22);
    background: linear-gradient(270deg, rgba(78, 2, 2, 0.681) 0%, rgba(232, 31, 31, 0.873) 60%);
    color: rgb(38, 4, 4);
}

/* button more info */
.buttons-more-info {
    display: flex;
    justify-content: space-around;
    top: 20px;
    left: 20px;
}

.buttons-more-info button {
    width: 1000px;
    height: 50px;
    background-color: rgb(248, 185, 185);
    margin: 20px;
    color: #000000;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.buttons-more-info button:before, .buttons-more-info button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #d84444;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons-more-info button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons-more-info button:after {
    left: 0;
    bottom: 0;
}

.buttons-more-info button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.buttons-more-info button span:before, .buttons-more-info button span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #d84444;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons-more-info button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons-more-info button span:after {
    left: 0;
    bottom: 0;
}

.buttons-more-info button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
}

.buttons-more-info button p:before, .buttons-more-info button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
}

.buttons-more-info button p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
}

.buttons-more-info button p:after {
    content: attr(data-text);
    top: 150%;
    color: #d84444;
}

.buttons-more-info button:hover:before, .buttons-more-info button:hover:after {
    width: 100%;
}

.buttons-more-info button:hover span {
    z-index: 1;
}

.buttons-more-info button:hover span:before, .buttons-more-info button:hover span:after {
    height: 100%;
}

.buttons-more-info button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
}

.buttons-more-info button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
}

.buttons-more-info button.start {
    background-color: #d84444;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.buttons-more-info button.start p:before {
    top: -50%;
    transform: rotate(5deg);
}

.buttons-more-info button.start p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
}

@keyframes start {
    from {
        top: -50%;
    }
}

.buttons-more-info button.start:hover:before, .buttons-more-info button.start:hover:after {
    display: none;
}

.buttons-more-info button.start:hover span {
    display: none;
}

.buttons-more-info button:active {
    outline: none;
    border: none;
}

.buttons-more-info button:focus {
    outline: 0;
}

/* hover-card-new css*/

.hover-card-new {
    box-shadow: 0px 0px 30px gray;
}

/* 
form css goes here */

/* From Uiverse.io by zanina-yassine */
.popup {
    position: relative;
    width: 420px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.note {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #2B2B2F;
}

.subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #5F5D6B;
}

.input_field {
    width: 100%;
    height: 42px;
    padding: 0 0 0 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 1px #c65f5f;
    background-color: transparent;
}

.form button.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    width: 100%;
    height: 42px;
    background: linear-gradient(180deg, #ff4444 0%, #fc1111 50%, #ed0505 100%);
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 5px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}

/* personal button css */